Here we hawe two products

1) Smashing

Working URL https://{{smashing}}.{{domain}}

For managing you should go to /root/smashing_project
In this directoru use this:
for start: smashing start -d
for stop: smashing stop

More at https://smashing.github.io/

2) n8n

Working URL https://{{n8n}}.{{domain}}

Authorise data
Login: n8n-admin
Password: {{n8n_pass.stdout}}

Password is located encrypted in file /usr/share/n8n_auth
Run the next command to change a password
htpasswd -b /usr/share/n8n_auth n8n-admin New_Password
where New_Password is a new password you want, n8n-admin - new login

Software is added to autostart
Commands for managing 
pm2 restart n8n
pm2 stop n8n

More at
https://community.n8n.io/t/run-n8n-as-a-service-with-pm2/1199 and https://n8n.io/
