server {
    listen      80 default;
    server_name {{smashing}}.{{domain}};
    access_log  /var/log/nginx/{{smashing}}.access.log;
    error_log   /var/log/nginx/{{smashing}}.error.log;

    location / {
      proxy_pass http://127.0.0.1:3030;
      proxy_http_version  1.1;
      proxy_set_header    Host $server_name:$server_port;
      proxy_set_header    X-Forwarded-Host $http_host;    # for CSRF check
      proxy_set_header    X-Forwarded-Proto $scheme;
      proxy_set_header    X-Forwarded-For $remote_addr;
      proxy_set_header    Upgrade $http_upgrade;
      client_max_body_size 0;
    }
}

server {
    listen      80;
    server_name {{n8n}}.{{domain}};
    access_log  /var/log/nginx/{{n8n}}.access.log;
    error_log   /var/log/nginx/{{n8n}}.error.log;

    location / {
      auth_basic           "O-ops! Password required";
      auth_basic_user_file /usr/share/n8n_auth;
      proxy_pass http://127.0.0.1:5678;
      proxy_http_version  1.1;
      proxy_set_header    Host $server_name:$server_port;
      proxy_set_header    X-Forwarded-Host $http_host;    # for CSRF check
      proxy_set_header    X-Forwarded-Proto $scheme;
      proxy_set_header    X-Forwarded-For $remote_addr;
      proxy_set_header    Upgrade $http_upgrade;
      client_max_body_size 0;
    }
}
