Были установлены 2 програмных продукта

1) Smashing

Доступен по ссылке https://{{smashing}}.{{domain}}

Для управления сервисом необходимо перейти в каталог /root/smashing_project
Находясь в этом каталоге используются две команды
smashing start -d для запуска
smashing stop для остановки

Подробнее https://smashing.github.io/

2) n8n

Доступен по ссылка https://{{smashing}}.{{domain}}

Данные для авторизации
Логин: n8n-admin
Пароль: {{n8n_pass.stdout}}

Пароль находится в зашифрованном виде в файле /usr/share/n8n_auth
Что бы его поменять нужно выполнить команду
htpasswd -b /usr/share/n8n_auth n8n-admin New_Password
где вместо New_Password указать настоящий новый пароль, n8n-admin - логин

Сервис добавлен в автозапуск
Для управления используются команды 
pm2 restart n8n
pm2 stop n8n

Подробнее 
https://community.n8n.io/t/run-n8n-as-a-service-with-pm2/1199 и https://n8n.io/
